
.dashboard-table{
    padding: 10px;
    background-color:#C9D5E8 ;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.dashboard-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.editar-btn {
    padding: 5px 10px;
    background-color: #815a50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.excluir-btn{

    padding: 5px 10px;
    background-color: #c82333;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}
.table-title{
    text-align: center;
}

td{
    padding: 10px;
    border: 1px solid black;
}
.editar-btn:hover {
    background-color: #566873;
}

.excluir-btn:hover {
    background-color: red;
}

/* Estilo do Modal */
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Ações no Modal */
.modal-actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.modal-actions button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

.modal-actions button:first-child {
    background-color: #28a745;
}

.modal-actions button:first-child:hover {
    background-color: #218838;
}

.modal-actions button:last-child {
    background-color: #dc3545;
}

.modal-actions button:last-child:hover {
    background-color: #c82333;
}
.pagination-controls {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.pagination-btn {
    padding: 8px 12px;
    background-color: #566873;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.pagination-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination-btn:hover:not(:disabled) {
    background-color: #815a50;
}

.nova-ordem-btn {
    margin-top: 50px;
    padding: 10px 20px;
    background-color: #566873;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nova-ordem-btn:hover {
    background-color: #815a50;
}
.modal {
    width: 60%;
    height: auto;
    max-height: 90%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.modal-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-label {
    font-size: 18px;
    font-weight: 500;
}

.form-input, .form-select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.modal-btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-btn-cancel {
    background-color: #f44336;
    color: white;
}

.modal-btn-save {
    background-color: #4CAF50;
    color: white;
}
.modal-section {
    margin-top: 20px;
}

.modal-table {
    width: 100%;
    border-collapse: collapse;
}

.modal-table th, .modal-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}

.modal-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}
.modal-body {
    max-height: 70vh; /* Limita a altura do modal a 70% da altura da tela */
    overflow-y: auto; /* Ativa o scroll vertical */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.modal {
    width: 60%;
    height: auto;
    margin: auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden; /* Para evitar que o scroll fique na borda principal do modal */
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
