.nova-ordem-container {
    max-width: 900px;
    max-height: 70vh;
    padding:40px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f7f9fc;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    overflow-y: scroll;
}


h1, h3 {
    text-align: center;
    color: #333;
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.form-group {
    display: flex;
    flex-wrap: wrap; /* Ajuste flexível */
    gap: 20px; 
    justify-content: space-between;
    align-items: flex-end; 
}

label {
    flex: 1 1 calc(50% - 20px); 
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: #555;
}

input, select {
    width: 100%; 
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

input:focus, select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button[type="submit"] {
    background-color: #28a745;
    align-self: center; 
}

button[type="submit"]:hover {
    background-color: #218838;
}


h3 {
    font-size: 18px;
    color: #555;
    text-align: center;
}


@media (max-width: 768px) {
    .form-group label {
        flex: 1 1 100%; 
    }

    .nova-ordem-container {
        padding: 10px;
    }
}


.nova-ordem-container {
    max-width: 850px;
    margin: auto;
    padding: 25px;
    background-color: #f9fbfd;
    border-radius: 12px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}
